In [1]:
# Загрузка библиотек
import pandas as pd
import lxml as lx

In [3]:
# Задание 1
# Скачайте с сайта датасет любого размера. Определите, какому фильму было выставлено больше всего оценок 5.0.

ra = pd.read_csv('./hw_2/ratings.csv') # импортируем данные

# Тренировка при решениии
# ra5 = ra[['movieId', 'rating']][ra.rating == 5.0] # фильтруем по оценке 5.0
# ra5[['movieId', 'rating']].value_counts().head(1) # считаем количество оценок 5.0

# Решение
ra[['movieId', 'rating']][ra['rating'] == 5.0].value_counts().head(1)

movieId  rating
318      5.0       39553
dtype: int64

In [28]:
# Задание 2
# По данным файла power.csv посчитайте суммарное потребление стран Прибалтики (Латвия, Литва и Эстония) категорий 4, 12 и 21 за период с 2005 по 2010 год. 
# Не учитывайте в расчётах отрицательные значения quantity.

power = pd.read_csv('./hw_gen_data/power.csv') # импортируем данные
countries = ['lith', 'latv', 'esto'] # от лени, чтобы не прописывать длинное условие создаём список стран
pattern = '|'.join(countries) # от неё же создаём условия поиска
power[
    (power['country'].str.contains(pattern, case=False)) & # условие по стране
    ((power['year'] >= 2005) & (power['year'] <= 2010)) & # условие по году
    ((power['category'] == 4) | (power['category'] == 12) | (power['category'] == 21)) & # условие по категории
    ((power['quantity'] > 0))
    ]['quantity'].sum() # считаем сумму потребления

240580.0

In [13]:
# Задание 3
# Выберите страницу любого сайта с табличными данными. Импортируйте таблицы в pandas DataFrame.

df = pd.read_html('https://fortrader.org/quotes')
df[0]

                           Название   Цена  Изменение  Изменение(%)  Обновлено
0  EURRUB Курс евро к рублю сегодня  61.58       0.06          0.10        NaN
1       USDRUB Курс рубля к доллару  59.61      -0.07         -0.11        NaN

In [ ]:
# Тренировка
# ?pd.read_html